h1>🚀 Student AI Dashboard</h1>

<p>Welcome, Yaqub!</p>

<div class="card">
<h2>📚 My Subjects</h2>
<ul>
<li>Python 🐍</li>
<li>Mathematics 📐</li>
<li>Physics ⚛️</li>
<li>English 🇬🇧</li>
</ul>
</div>


<div class="card">
<h2>✅ Progress</h2>
<p id="progress">0%</p>
<button onclick="increase()">Complete Task</button>
</div>


<div class="card">
<h2>💡 AI Motivation</h2>
<p id="message">Click button</p>
<button onclick="motivate()">Get Advice</button>
</div>

</div>

<script src="script.js"></script>

</body>
</html>
